
.icon-007-earphones:before { content: '\e800'; } /* '' */
.icon-008-edit:before { content: '\e801'; } /* '' */
.icon-003-drawing-tool:before { content: '\e804'; } /* '' */
.icon-004-monitor:before { content: '\e805'; } /* '' */
.icon-005-target:before { content: '\e806'; } /* '' */